.style_switcher{
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style_switcher .s_icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style_switcher .s_icon i{
    line-height: 40px;
}
.style_switcher .style_switcher_toggler{
    top: 0;
}
.style_switcher .day_night{
    top: 55px;
}
.style_switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.open{
    transform: translateX(-25px);
}
.style_switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style_switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.style_switcher .color-1{
    background:  #ec1839;
    cursor: pointer;
}
.style_switcher .color-2{
    background:  #fa5b0f;
    cursor: pointer;
}
.style_switcher .color-3{
    background:  #37b182;
    cursor: pointer;
}
.style_switcher .color-4{
    background:  #1854b4;
    cursor: pointer;
}   
.style_switcher .color-5{
    background:  #f021b2;
    cursor: pointer;
}

@media(max-width: 1350px){
    .style_switcher{
        display: none;
    }
}