@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
 --bg-black-900:#f2f2fc;
 --bg-black-100:#fdf9ff;
 --bg-black-50:#e8dfec;
 --text-black-900:#302e4d;
 --text-black-700:#504370;
      
}
body.dark{
    
        --bg-black-900:#151515;
        --bg-black-100:#222222;
        --bg-black-50:#393939;
        --text-black-900:#ffffff;
        --text-black-700:#e9e9e9;
             
       
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
::after, ::before{
    box-sizing: border-box;
}


.style_switcher {
    display: none;
}
/* section */
ul{
    list-style: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0px 30px;
   
}
.d-hidden{
    display: none !important;
}
.main_content{
    padding-left:270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section_title{
    flex: 0 0 100%;
    min-width: 100%;
    margin-bottom: 60px;
}
.section_title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section_title h2:before{
    content: " ";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section_title h2:after{
    content: " ";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white; 
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
    background: var(--skin-color);

}
.btn:hover{
    transform: scale(1.05);
}
.shadow_dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside */
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    display: flex;
    border-right: 1px solid var(--bg-black-50);
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 10;

}
.aside .logo{
    position: absolute;    
    top: 50px;
    cursor: pointer;

}
.aside .logo img{
    width: 50px;
    height: 50px;
}
.aside  .nav_toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    left: 300px;
    position: fixed;
    top: 20px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--bg-black-100);
}
.aside .nav_toggler span{
    height: 2px ;
    width: 18px;
    display: inline-block;
    background: var(--skin-color);
    position: relative;
}
.aside .nav_toggler span::before{
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}.aside .nav_toggler span::after{
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav {
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
    border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav a.active{
    color: var(--skin-color);
}
.aside .nav li a i{
  margin-right: 15px;
}

/* home=========== */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home .home_img{
    flex:0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home_img img{
    border-radius: 4px;
}
.hello{
    font-size: 28px;
    margin: 15px 0;
}
.hello span{
    font-family: 'Handlee', cursive;
    /* font-family: 'Clicker Script', cursive; */
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
.my_profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}
.home_img::after{
    content: " ";
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid  var(--skin-color);
    border-right: 10px solid  var(--skin-color);
    right: 10px;
    bottom: -20px;

}
.home_img::before{
    content: " ";
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid  var(--skin-color);
    border-left: 10px solid  var(--skin-color);
    left: 10px;
    top: -20px;

}
.home .home_img img{
 height: 400px;
 margin: auto;
 border-radius: 5px;

}
/* About-------- */
.about .about_content{
    flex: 0 0 100%;
    min-width: 100%;
}
.about .about_content .about_text{
    flex: 0 0 100%;
    min-width: 100%;
}
.about .about_content .about_text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about_content .about_text h3 span{
    color: var(--skin-color);
}
.about .about_content .about_text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about_content .personal_information{
    flex: 0 0 70%;
    max-width: 70%;
    margin-top: 40px;
}
.about .about_content .skills{
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: 40px;
}
.about .about_content .personal_information .info_item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about_content .personal_information .info_item span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about_content .personal_information .buttons{
    margin-top: 25px;
}
.about .about_content .personal_information .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}
.about .about_content .personal_information .info_item{
    flex: 0 0 50%;
    min-width: 50%;
}
.about .about_content .skills .skill_item{
    flex: 0 0 100%;
    min-width: 100%;
}
            
.about .about_content .skills .skill_item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about_content .skills .skill_item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about_content .skills .skill_item{
    margin-bottom: 30px;
}
.about .about_content .skills .skill_item .progress .progress_in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}
.about .about_content .skills .skill_item .skill_percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about_content .experience,
.about .about_content .education{
    
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;    
}
.about .about_content h3 .title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about_content .timeline_box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about_content .timeline{
    background-color:   var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about .about_content .timeline .timeline_item{
    position: relative;
    padding-left: 30px;
    padding-bottom: 50px;
}
.about .about_content .timeline .timeline_item:last-child{
    padding-bottom: 0;
}
.about .about_content .timeline .timeline_item::before{
    content: " ";
    width: 1.5px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about_content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about_content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about_content .timeline .timeline-date i{
    margin-right: 5px;
}
.about .about_content .timeline .timeline-title{
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
    font-size: 18px;
}
.about .about_content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* Service Section--------- */
/* Service Section--------- */
/* Service Section--------- */
.service .container{
    padding-bottom: 40px;
}
.service .service_item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service .service_item .service_item_inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    height: 500px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service_item .service_item_inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service_item .service_item_inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px ;
    text-align: center;
    transition: all .3s ease;
}
.service .service_item .service_item_inner .icon i{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;

}
.service .service_item .service_item_inner:hover .icon{
    background: var(--skin-color);

}
.service .service_item .service_item_inner:hover .icon i {
    font-size: 25px;
    color: #ffffff;

}
.service .service_item .service_item_inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service_item .service_item_inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;

}

/* portfolio- */
/* portfolio- */
/* portfolio- */
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio .portfolio_heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio_heading .h2{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio_item{
    flex: 0 0 50%;
    max-width: 50%;
    /* height: 300px !important; */
    margin-bottom: 30px;
}
.portfolio .portfolio_item_inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio_item_inner .portfolio_img img{
    width: 100%;
    display: block;
}
.portfolio .portfolio_item:hover{
    scale: 1.03;
    transition: all 0.3s ease;
}
.tit{
    color: var(--text-black-700);
}
/* Contact- */
/* Contact- */
/* Contact- */
.contact_title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact_sub_title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact_info_item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact_info_item .icon{
    display: inline-block;
}
.contact .contact_info_item .icon i{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact_info_item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact_info_item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-black-700);
}


.contact .contact_form{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact_form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact_form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact_form .form_item{
    margin-bottom: 30px;

}
.contact .contact_form .form_item .Form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact_form .form_item .Form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);

}
.contact .contact_form .form_item textarea.Form-control{
    height: 140px;
}
.contact .contact_form .btn{
    height: 50px;
    padding: 0px 50px;
    cursor: pointer;
}
.emailname{
    display: block;
}
.fa-bars{
    cursor: pointer;
    margin-left: 3px;
    font-size: 25px;
    display: none;
}
.fa-xmark{
    color: var(--text-black-900);
    font-size: 25px;
    display: none;
    position: absolute;
}
/* Responsive--------------------- */
/* Responsive--------------------- */
/* Responsive--------------------- */
/* Responsive--------------------- */
/* Responsive--------------------- */

@media(max-width:1199px){
    .aside{
        left: -270px;
        transition: all 0.3s ease;
    }
    .main_content{
        padding-left: 0;
    }
    .about .about_content .personal_information .info_item p span{
        display: block;
    }
}

@media(max-width:991px){
    .contact .contact_info_item,
    .service .service_item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home_img::after{
        content: " ";
        display: none;
    
    }
    .home_img::before{
        content: " ";
        
        display: none;
    
    }
}
@media(max-width:860px) {
    
    
    .home .home-info{
        
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .row{
     flex-direction: column;
    }
    .home .home_img{
        margin-top: 100px;
        margin-bottom: 0px;
        flex:0 0 100%;
        max-width: 100%;
    }
    .home_img img{
        padding: 0px 15px;
    }
    


}
@media(max-width:767px){
    body{
        overflow-x: hidden;
    }
    .contact .contact_form .col-6,
    .contact .contact_info_item,
    .portfolio .portfolio_item,
    .service .service_item,
    .about .about_content .education,
    .about .about_content .experience,
    .about .about_content .skills,
    .about .about_content .personal_information{
        flex: 0 0 100%;
        max-width: 100%;
    }

    
    .service_item_inner{
        height: auto !important;
    }




}

@media(max-width:500px){
    .about .about_content .personal_information .info_item {
        flex: 0 0 100%;
    }
    .home_img img{
        width: 100%;
        padding: 15px;
        height: 400px !important;
    }
}
@media(max-width:350px){
    
    .home_img img{
        height: 300px !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.copyright{
    padding-bottom: 15px;
    font-size: 14px;
    color: var(--text-black-900);
    text-align: center;
    background: var(--bg-black-900);

}

.day_night2{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    display: none;
}

@media(max-width: 1350px){
    .day_night2{
        display: flex;
    }
}


/* social media */

.socila_icon
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 60px;
}
.socila_icon a{
    background-color: red;
    margin: 0px 10px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    border-radius: 50%;
    height: 45px;background: var(--bg-black-100);
    color: var(--text-black-900);
    text-decoration: none;
    transition: all 0.3s ease;
}
.socila_icon a:hover{
    scale: 1.1;
}
.socila_icon i{
    font-size: 28px;
}